<?xml version="1.0"?>
<!-- OpenManipulator-X Unified Robot Description -->
<robot name="open_manipulator_x" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- ======================== -->
  <!-- Arguments -->
  <!-- ======================== -->
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="use_sim" default="false" />
  <xacro:arg name="use_fake_hardware" default="false" />
  <xacro:arg name="fake_sensor_commands" default="false" />
  <xacro:arg name="port_name" default="/dev/ttyUSB0" />
  <xacro:arg name="controller_config"
             default="$(find open_manipulator_x_bringup)/config/gazebo_controller_manager.yaml" />
  <xacro:arg name="robot_namespace" default="/omx" />

  <!-- ======================== -->
  <!-- Includes -->
  <!-- ======================== -->

  <!-- Gazebo materials -->
  <xacro:include filename="$(find open_manipulator_x_description)/gazebo/materials.xacro" />

  <!-- Gazebo visual + physics customizations -->
  <xacro:include filename="$(find open_manipulator_x_description)/gazebo/open_manipulator_x.gazebo.xacro" />

  <!-- Core URDF -->
  <xacro:include filename="$(find open_manipulator_x_description)/urdf/open_manipulator_x.urdf.xacro" />

  <!-- ros2_control system -->
  <xacro:include filename="$(find open_manipulator_x_description)/ros2_control/open_manipulator_x_system.ros2_control.xacro" />

  <!-- ======================== -->
  <!-- Robot Model -->
  <!-- ======================== -->

  <xacro:open_manipulator_x prefix="$(arg prefix)" />

  <!-- Gazebo-specific elements (collision tweaks, friction, etc.) -->
  <xacro:open_manipulator_x_gazebo prefix="$(arg prefix)" />

  <!-- ros2_control hardware interface -->
  <xacro:open_manipulator_x_system
    name="OpenManipulatorXSystem"
    prefix="$(arg prefix)"
    use_sim="$(arg use_sim)"
    use_fake_hardware="$(arg use_fake_hardware)"
    fake_sensor_commands="$(arg fake_sensor_commands)"
    port_name="$(arg port_name)"
  />

  <!-- ======================== -->
  <!-- Gazebo ros2_control Plugin -->
  <!-- ======================== -->

  <!-- 
    IMPORTANT:
    - This MUST be present when use_sim:=true.
    - Do NOT launch standalone ros2_control_node in simulation.
    - Gazebo will create controller_manager internally.
  -->
  <xacro:if value="$(arg use_sim)">
  <gazebo>
    <plugin name="$(arg prefix)gazebo_ros2_control"
            filename="libgazebo_ros2_control.so">
      <ros>
        <namespace>$(arg robot_namespace)</namespace>
      </ros>
      <!-- Explicitly tell gazebo_ros2_control which robot_description parameter to use -->
      <robot_param>robot_description</robot_param>
      <robot_param_node>robot_state_publisher</robot_param_node>
      <parameters>$(arg controller_config)</parameters>
    </plugin>
  </gazebo>
  </xacro:if>
  <!-- ======================== -->
  <!-- World Attachment -->
  <!-- ======================== -->

  <link name="world"/>

  <joint name="$(arg prefix)world_fixed" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="$(arg prefix)link1"/>
  </joint>

</robot>


